.main-category, .sub-category, .mega-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-category li, .sub-category li, .mega-menu li {
    padding: 10px 0;
}

.cat-heading {
    cursor: pointer;
}

.sub-category, .mega-menu {
    padding-left: 20px;
}

.sub-category li, .mega-menu li {
    padding: 5px 0;
}

.single-menu {
    display: flex;
    align-items: center;
}

.single-menu .image {
    margin-right: 10px;
}
